* {
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #2196f3;
    color: #fff;
    padding: 20px;
}
.sidebar a.active {
    background-color: #fcfafa; /* Or your preferred color */
    color: #2196f3;
    border-radius: 5px;
    padding: 5px 5px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar li {
    padding: 10px;
    /* transition: background-color 0.3s, color 0.3s; Smooth transition on hover */
}
.sidebar li:hover {
    /* background-color: #ffffff; 
    color: #dd1d5e;  */
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.main-content {
    margin-left: 220px;
    padding: 40px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.mouse-info {
    display: flex; /* Use flexbox */
    justify-content: center;
    align-items: center; /* Vertically center items */
    /* Add any other container styles */
}

.drop-down-menu {
    flex: 1;
}

.mouse-image {
    flex: 1; /* Take up available space (right side) */
    /* Add styles for the image */
}

.mickey-image {
    /* Adjust width and height based on your image dimensions */
    width: 250px;
    height: 450px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}

.selected-row {
    font-weight: bold;
}
